.container{
    margin:0;
    height:100%;
}
.block1{
    height:100%;

}
.box{
    max-height:100%;
    height:52%;
    max-width: 500px;
    width:100%;
    /* height:250px; */
    display:block!important;
    margin:auto;
    margin-top:10rem;
    margin-bottom:auto;
}
input{
    margin-bottom: 8px!important;
}

.button{
    display:block!important;
    margin-left:auto;
    margin-right:auto;
    margin-top:15px;
}
